<h1>Listing mekans</h1>

<table>
  <tr>
    <th>Isim</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mekans.each do |mekan| %>
  <tr>
    <td><%= mekan.isim %></td>
    <td><%= link_to 'Show', mekan %></td>
    <td><%= link_to 'Edit', edit_mekan_path(mekan) %></td>
    <td><%= link_to 'Destroy', mekan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mekan', new_mekan_path %>
